<%= csrf_meta_tags %>
<%= render 'admins/nav-admin' %>
<section class="container admin">
  <% if @users.empty? %>
  <h1>No Approved Users yet</h1>
  <% else %>
  <h1>All Users List</h1>
  <table class="table admin">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col" class="responsive">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td class="responsive"><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to "View", user_profile_path(user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>
