<%= csrf_meta_tags %>
<%= render 'admins/nav-admin' %>
<section class="container admin">
  <h1>User Information</h1>
  <table class="table admin">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td>Account Created Date</td>
        <td><%= @user.created_at %></td>
      </tr>
      <tr>
        <td>Last Update</td>
        <td><%= @user.updated_at %></td>
      </tr>
    </tbody>
  </table>
</div>
