<%= csrf_meta_tags %>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="card-title">Welcome, <%= current_user.first_name%> <%= current_user.last_name%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= current_user.email%></h6>
      <p class="card-text">I am a buyer.</p>
      <a href="#" class="card-link">Wallet</a>
      <a href="#" class="card-link">Transaction History</a>
    </div>
    <div class="col-sm">
      <div id="search">
        <%= render 'users/search' %>
      </div>
    </div>
    <div class="col-sm">
      <h3>Owned Stocks </h2>
      <%= render 'layouts/messages' %>
        <% if !@tracked_stocks.empty? %>
        <%= render 'stocks/list' %>
        <% end %>
    </div>
  </div>
</div>